[*.{kt,kts}]
# https://pinterest.github.io/ktlint/1.2.1/rules/standard/#string-template-indent
ktlint_standard_string-template-indent = disabled
# https://pinterest.github.io/ktlint/1.2.1/rules/standard/#multiline-expression-wrapping
ktlint_standard_multiline-expression-wrapping = disabled
