.row {
    display: flex;
    gap: 10px;
    padding: 5px;
}

#sidebar {
    flex: 0 0 30%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
}

#main-content {
    flex: 1; /* flex-grow: 1, this will take up the rest of the space */
}

ul {
    padding-left: 0;
    list-style: none;
}
